gitdata_if_else.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "run_variable",
          "value": {
            "value": "@pipeline().parameters.run_flag",
            "type": "Expression"
          }
        },
        "policy": {
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Set run",
        "dependsOn": []
      },
      {
        "type": "IfCondition",
        "typeProperties": {
          "expression": {
            "value": "@equals(variables('run_variable'),'yes')",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "type": "Copy",
              "typeProperties": {
                "source": {
                  "type": "DelimitedTextSource",
                  "formatSettings": {
                    "type": "DelimitedTextReadSettings"
                  },
                  "storeSettings": {
                    "type": "HttpReadSettings",
                    "requestMethod": "GET"
                  },
                  "datasetSettings": {
                    "type": "DelimitedText",
                    "typeProperties": {
                      "location": {
                        "type": "HttpServerLocation",
                        "relativeUrl": "anshlambagit/Fabric-Data-Factory/refs/heads/main/netflix_directors.csv"
                      },
                      "columnDelimiter": ",",
                      "quoteChar": "\"",
                      "escapeChar": "\\",
                      "firstRowAsHeader": true
                    },
                    "schema": [],
                    "externalReferences": {
                      "connection": "26d6822a-b940-421d-b49e-fe93eae1d6c5"
                    },
                    "annotations": []
                  }
                },
                "sink": {
                  "type": "DelimitedTextSink",
                  "formatSettings": {
                    "type": "DelimitedTextWriteSettings",
                    "fileExtension": ".txt"
                  },
                  "storeSettings": {
                    "type": "LakehouseWriteSettings"
                  },
                  "datasetSettings": {
                    "type": "DelimitedText",
                    "typeProperties": {
                      "location": {
                        "type": "LakehouseLocation",
                        "folderPath": "Rawdata",
                        "fileName": "rawdata.csv"
                      },
                      "columnDelimiter": ",",
                      "quoteChar": "\"",
                      "escapeChar": "\\",
                      "firstRowAsHeader": true
                    },
                    "schema": [],
                    "connectionSettings": {
                      "name": "adf_LH",
                      "properties": {
                        "type": "Lakehouse",
                        "typeProperties": {
                          "artifactId": "6f99ea71-3f79-9bc4-434c-31f473f43fd3",
                          "workspaceId": "00000000-0000-0000-0000-000000000000",
                          "rootFolder": "Files"
                        },
                        "externalReferences": {
                          "connection": "522a062d-6bca-458a-bec4-c6d2d38de31c"
                        },
                        "annotations": []
                      }
                    },
                    "annotations": []
                  }
                },
                "translator": {
                  "type": "TabularTranslator",
                  "mappings": [
                    {
                      "source": {
                        "name": "director",
                        "type": "String"
                      },
                      "sink": {
                        "name": "director"
                      }
                    },
                    {
                      "source": {
                        "name": "show_id",
                        "type": "String"
                      },
                      "sink": {
                        "name": "show_id"
                      }
                    }
                  ],
                  "typeConversion": true,
                  "typeConversionSettings": {
                    "allowDataTruncation": true,
                    "treatBooleanAsNumber": false
                  }
                },
                "enableStaging": false,
                "enableSkipIncompatibleRow": true
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "copy_gitlink",
              "dependsOn": []
            }
          ],
          "ifFalseActivities": [
            {
              "type": "Wait",
              "typeProperties": {
                "waitTimeInSeconds": 3
              },
              "name": "Wait1",
              "dependsOn": []
            }
          ]
        },
        "name": "If Condition1",
        "dependsOn": [
          {
            "activity": "Set run",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ],
    "parameters": {
      "run_flag": {
        "type": "string"
      }
    },
    "variables": {
      "run_variable": {
        "type": "String",
        "defaultValue": "yes"
      }
    }
  }
}