Dropbox_data.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "ForEach",
        "typeProperties": {
          "items": {
            "value": "@pipeline().parameters.files",
            "type": "Expression"
          },
          "activities": [
            {
              "type": "Copy",
              "typeProperties": {
                "source": {
                  "type": "DelimitedTextSource",
                  "formatSettings": {
                    "type": "DelimitedTextReadSettings"
                  },
                  "storeSettings": {
                    "type": "HttpReadSettings",
                    "requestMethod": "GET"
                  },
                  "datasetSettings": {
                    "type": "DelimitedText",
                    "typeProperties": {
                      "location": {
                        "type": "HttpServerLocation"
                      },
                      "columnDelimiter": ",",
                      "quoteChar": "\"",
                      "escapeChar": "\\",
                      "firstRowAsHeader": true
                    },
                    "schema": [],
                    "externalReferences": {
                      "connection": "0039c300-4fd3-4b39-9dce-d8a600755a7f"
                    },
                    "annotations": []
                  }
                },
                "sink": {
                  "type": "DelimitedTextSink",
                  "formatSettings": {
                    "type": "DelimitedTextWriteSettings",
                    "fileExtension": ".txt"
                  },
                  "storeSettings": {
                    "type": "LakehouseWriteSettings"
                  },
                  "datasetSettings": {
                    "type": "DelimitedText",
                    "typeProperties": {
                      "location": {
                        "type": "LakehouseLocation",
                        "folderPath": "raw_data",
                        "fileName": {
                          "value": "@item()",
                          "type": "Expression"
                        }
                      },
                      "columnDelimiter": ",",
                      "quoteChar": "\"",
                      "escapeChar": "\\",
                      "firstRowAsHeader": true
                    },
                    "schema": [],
                    "connectionSettings": {
                      "name": "adf_LH",
                      "properties": {
                        "type": "Lakehouse",
                        "typeProperties": {
                          "artifactId": "6f99ea71-3f79-9bc4-434c-31f473f43fd3",
                          "workspaceId": "00000000-0000-0000-0000-000000000000",
                          "rootFolder": "Files"
                        },
                        "externalReferences": {
                          "connection": "522a062d-6bca-458a-bec4-c6d2d38de31c"
                        },
                        "annotations": []
                      }
                    },
                    "annotations": []
                  }
                },
                "translator": {
                  "type": "TabularTranslator",
                  "typeConversion": true,
                  "typeConversionSettings": {
                    "allowDataTruncation": true,
                    "treatBooleanAsNumber": false
                  }
                },
                "enableStaging": false,
                "enableSkipIncompatibleRow": false
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Copy dropbox _data",
              "dependsOn": []
            },
            {
              "type": "AppendVariable",
              "typeProperties": {
                "variableName": "copied files",
                "value": {
                  "value": "@item()",
                  "type": "Expression"
                }
              },
              "name": "copied files",
              "dependsOn": [
                {
                  "activity": "Copy dropbox _data",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            },
            {
              "type": "AppendVariable",
              "typeProperties": {
                "variableName": "failed files",
                "value": {
                  "value": "@item()",
                  "type": "Expression"
                }
              },
              "name": "failed files",
              "dependsOn": [
                {
                  "activity": "Copy dropbox _data",
                  "dependencyConditions": [
                    "Failed"
                  ]
                }
              ]
            }
          ]
        },
        "name": "ForEach1",
        "dependsOn": []
      },
      {
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "copied_length",
          "value": {
            "value": "@length(variables('copied files'))",
            "type": "Expression"
          }
        },
        "policy": {
          "secureInput": false,
          "secureOutput": false
        },
        "name": "copied_count",
        "dependsOn": [
          {
            "activity": "ForEach1",
            "dependencyConditions": [
              "Completed"
            ]
          }
        ]
      },
      {
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "failed_lenght",
          "value": {
            "value": "@length(variables('failed files'))",
            "type": "Expression"
          }
        },
        "policy": {
          "secureInput": false,
          "secureOutput": false
        },
        "name": "failed_count",
        "dependsOn": [
          {
            "activity": "ForEach1",
            "dependencyConditions": [
              "Completed"
            ]
          }
        ]
      },
      {
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "copiedNames",
          "value": {
            "value": "@string(variables('copied files'))",
            "type": "Expression"
          }
        },
        "policy": {
          "secureInput": false,
          "secureOutput": false
        },
        "name": "copiedNames",
        "dependsOn": [
          {
            "activity": "copied_count",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "FailedNames",
          "value": {
            "value": "@string(variables('failed files'))",
            "type": "Expression"
          }
        },
        "policy": {
          "secureInput": false,
          "secureOutput": false
        },
        "name": "failedNames",
        "dependsOn": [
          {
            "activity": "failed_count",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ],
    "parameters": {
      "files": {
        "type": "array",
        "defaultValue": [
          "netflix_cast.csv",
          "netflix_category.csv",
          "netflix_countries.csv",
          "netflix_titles.csv"
        ]
      }
    },
    "variables": {
      "copied files": {
        "type": "Array"
      },
      "failed files": {
        "type": "Array"
      },
      "copied_length": {
        "type": "Integer"
      },
      "failed_lenght": {
        "type": "Integer"
      },
      "copiedNames": {
        "type": "String"
      },
      "FailedNames": {
        "type": "String"
      }
    }
  }
}